/* Footer */

footer {
    background-color: var(--color-sexto);
    padding: 1rem;
    text-align: center;
}

/* Estilo del texto en el Footer */

footer p {
    color: var(--color-primario);
    font-size: 1.2rem;
    margin: 0;
}

/* Enlaces a redes sociales */

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

footer li {
    display: inline;
    margin-right: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--color-primario);
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: var(--color-terciario);
}