/* Barra de Navegación */

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primario);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--color-cuaternario);
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--color-quintanario);
}