.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    position: relative;
}

.header__text {
    display: none;
}

.header__image,
.menu-icon img {
    width: 150px;
    max-width: 100%;
    height: auto;
}

.header__image img,
.menu-icon img {
    max-width: 100%;
    height: auto;

}

.header__image img {
    padding: 0% 10% 0 0%;
}

.menu-icon {
    position: relative;
}

.menu-icon img {
    max-width: 100%;
    height: auto;
    padding: 25% 10% 0% 30%;
    align-items: end
}

.header__nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    border: 1px solid aliceblue;
    border-radius: 10%;
    /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
    background-color: rgba(12, 2, 54, 0.65);
    box-shadow: 0px 1px 20px 20px var(--color-basico);
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);

}

.header__nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .header__nav:hover {
    background-color: rgba(12, 2, 54, 0.85);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.8);
    transform: scale(1.1); 
    transition: background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}*/

.header__nav__list li {
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
}

.header__nav__list li:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25), 0 0 40px rgba(255, 255, 255, 0.25), 0 0 60px rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
    border-radius: 15px;

}

/*Estilo de ocultar el menú cuando el checkbox no está marcado */
.hidden-checkbox:not(:checked)~.header__nav {
    display: none;
}

/* Estilo del menú desplegable cuando el checkbox está marcado */
.hidden-checkbox:checked~.header__nav {
    display: flex;
}

.hidden-checkbox {
    position: absolute;
    top: -100%;
    left: 0;
}

a {
    text-decoration: none;
    color: var(--color-primario);
}

.header__nav:checked~.banner .overlay {
    display: block;
}

@media (width >=500px) {
    .header__text {
        display: flex;
        text-align: center;
    }

    .logo_text {
        font-family: 'New Rocker', system-ui, monospace;

    }

    .logo_text span {
        font-family: 'Single Day', cursive, monospace;
        font-weight: 400;
        color: var(--color-quinto);
        text-transform: lowercase;
    }
}