.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
}

.header__text {
    display: none;
}

.header__image,
.menu-icon img {
    width: 150px;
    max-width: 100%;
    height: auto;
}

.header__image img,
.menu-icon img {
    max-width: 100%;
    height: auto;

}

.header__image img {
    padding: 0% 10% 0 0%;
}

.menu-icon img {
    padding: 25% 10% 0% 30%;
    align-items: end
}


.header__nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header__nav__list li {
    margin-bottom: 10px;
    /* Ajusta el espaciado entre elementos del menú */
}

/* Estilo de ocultar el menú cuando el checkbox no está marcado */
.hidden-checkbox:not(:checked)~.header__nav {
    display: none;
}

/* Estilo del menú desplegable cuando el checkbox está marcado */
.hidden-checkbox:checked~.header__nav {
    display: flex;
}

.hidden-checkbox {
    position: absolute;
    top: -100%;
    left: 0;
}

a {
    text-decoration: none;
    color: var(--color-primario);
}

@media (width >=500px) {
    .header__text {
        display: flex;
        text-align: center;
    }

    .logo_text {
        font-family: 'New Rocker', system-ui, monospace;

    }

    .logo_text span {
        font-family: 'Single Day', cursive, monospace;
        font-weight: 400;
        color: var(--color-quinto);
        text-transform: lowercase;
    }
}