/* Paleta de colores */
:root {
    --color-basico: #0C0236;
    --color-primario: #BCDBF0;
    --color-secundario: #98C1D9;
    --color-terciario: #6969B3;
    --color-cuaternario: #C798D9;
    --color-quinto: #D699CE;
    --color-sexto: #E2B4D7;
    --color-septimo: #D998A4;
    --color-octavo: #B36995;
    --color-noveno: #9F7EA2;

}


*,
*::before,
*::after {
    box-sizing: border-box;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

body {
    background-color: var(--color-basico);
    color: var(--color-secundario);
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-weight: 300;

}


.banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
}