/* Paleta de colores */
:root {
    --color-basico: #0C0236;
    --color-primario: #BCDBF0;
    --color-secundario: #98C1D9;
    --color-terciario: #6969B3;
    --color-cuaternario: #C798D9;
    --color-quinto: #D699CE;
    --color-sexto: #E2B4D7;
    --color-septimo: #D998A4;
    --color-octavo: #B36995;
    --color-noveno: #9F7EA2;
    --color-decimo: rgba(1, 1, 27, 0.7);
    --color-undecimo: rgba(106, 106, 180, 0.2);
    --hover: #ae69b3;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

main {
    flex-direction: column;
    /* align-items: center; */
}

body {

    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    background-color: var(--color-basico);
    color: var(--color-secundario);
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;

}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 0 10px 10px var(--color-terciario);

}



#about-me>fieldset #bio {
    text-align: justify;
}

.barras-progreso {
    display: flex;
    flex-direction: column;
}

.barra {
    margin-bottom: 10px;
    position: relative;
}

progress {
    width: 100%;
    height: 20px;
    animation: cargar 3s linear forwards;

}

@keyframes cargar {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

.barras-progreso .barra span {
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    animation: mostrarPorcentaje 1s linear 4.5s forwards;
}

.mostrar {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    animation: mostrarPorcentaje 1s linear 4.5s forwards;
}

#skills>div {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 25%;

}

.barras-progreso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    max-width: 300px;
    padding: 2%;
    justify-content: space-b;
}

.barra {
    margin-bottom: 15px;
}


/* Media queries */


@media (width <=835px) {
    #skills>div {
        padding-left: 10%;

    }

    @keyframes cargar {
        from {
            width: 0%;
        }

        to {
            width: 20%;
        }
    }

    .barras-progreso .barra span {
        position: absolute;
        top: 81%;
        left: 100%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        opacity: 1;
        visibility: visible;
        animation: mostrarPorcentaje 1s linear 4.5s forwards;

    }
}

@media (width >=768px) {
    .banner img {
        content: url(../img/banner\ web.jpeg);
        padding: 2%;
        border-radius: 15%;
        box-shadow: 0 0 10px 10px var(--color-quinto);
    }

    #about-me,
    #contact {
        max-width: 1100px;
        /* O ajusta según tus necesidades */
        width: 100%;
        margin: 0 auto;
    }


    #about-me {
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
        padding-left: 1%;

    }


    #about-me>fieldset {
        display: flex;
        flex: 1;
        padding: 0 15px;
        border: none;
    }

    #about-me>fieldset #bio {
        text-align: justify;
    }

    #bio,
    #skills {
        flex: 1;
        /* Ocupa el espacio disponible de manera igual para ambas secciones */
        padding: 0 30px;
        /* Añade un poco de espacio entre las columnas */
    }

    #bio,
    #skills {
        padding-left: 3%;
    }

    .barras-progreso {
        flex-direction: column;
        flex-wrap: nowrap;

    }

    @keyframes cargar {
        from {
            width: 0%;
        }

        to {
            width: 90%;
        }
    }
}

@media (width < 768px) {
    #skills>div {
        padding: 2%;

    }

    @keyframes cargar {
        from {
            width: 0%;
        }

        to {
            width: 50%;
        }
    }

    .barras-progreso .barra span {
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        opacity: 1;
        visibility: visible;
        animation: mostrarPorcentaje 1s linear 4.5s forwards;
    }
}

@media (width <=700px) {

    @keyframes cargar {
        from {
            width: 0%;
        }

        to {
            width: 65%;
        }
    }

    .barras-progreso .barra span {
        position: absolute;
        top: 75%;
        left: 85%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        opacity: 1;
        visibility: visible;
        animation: mostrarPorcentaje 1s linear 4.5s forwards;
    }

    #about-me>fieldset #bio {
        text-align: justify;
    }
}

@media (width <=490px) {
    .barras-progreso {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #about-me>fieldset #bio {
        text-align: justify;
    }
}